body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

.basic-intro-image,
.devil-intro-image,
.chaos-intro-image {
    width: 300px;
    height: auto;
}

.card-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transform-style: preserve-3d;
    transition: transform 1s;
    z-index: 100;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.card-container img {
    width: 150%;
    height: 150%;
    border-radius: 15px;
}

.container {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.container.show {
    opacity: 1;
}

.player {
    width: 320px;
    height: 140px;
    font-size: 28px;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
    outline: none;
}

.player:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

.dead {
    background: darkred !important;
    border-color: darkred !important;
    cursor: not-allowed;
    pointer-events: none;
    transform: none !important;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.status-icon {
    width: 70px;
    height: 74px;
}

.score {
    margin-left: 10px;
    font-size: 28px;
    color: #ff0;
}

#card-name-container {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
}

#card-name-container.show {
    visibility: visible;
    opacity: 1;
}

#card-name-container span {
    color: white;
}

#card-name-container .ace {
    color: orange;
}

#card-name-container .king {
    color: red;
}

#card-name-container .queen {
    color: purple;
}

#intro-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.intro-content {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.buttons-container {
    display: none;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.buttons-container.show {
    display: flex;
    opacity: 1;
}

#music-toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: lightgreen;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

input:not(:checked)+.slider {
    background-color: #ccc;
}

input:not(:checked)+.slider:before {
    background-color: white;
}

.disabled {
    opacity: 0.5;
    background-color: gray !important;
    cursor: not-allowed;
}

.action-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.action-button:hover {
    transform: scale(1.1);
}

.devil {
    background-color: darkred;
}

#devil-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

#devil-modal.show {
    visibility: visible;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#player-selection {
    display: grid;
    gap: 15px;
}

.player-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: gray;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 20px;
    text-align: center;
}

.player-button.selected {
    background-color: darkred;
    transform: scale(1.05);
}

.execute-container {
    margin-top: 20px;
}

.player-button.execute {
    background-color: #28a745;
    width: 45%;
}

.player-button.cancel {
    background-color: #dc3545;
    width: 45%;
}

#devil-modal.close {
    visibility: hidden;
    opacity: 0;
}

.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 480px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.5s ease;
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.execute-container .player-button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.cancel {
    background-color: #f44336;
}

.master {
    background-color: purple;
}

#master-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

#master-modal.show {
    visibility: visible;
    opacity: 1;
}

#master-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

select {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    background-color: #f8f8f8;
    color: #333;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

select:focus {
    border-color: #28a745;
    background-color: #e8f5e9;
    outline: none;
}