* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 50px 60px;
    margin: 15px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.button:hover {
    transform: scale(1.1);
}

#basic {
    background-image: url('/images/basic.png');
}

#devil {
    background-image: url('/images/devil.png');
}

#chaos {
    background-image: url('/images/chaos.png');
}

button.disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
}